# Lambda functions
---
- Python supports the creation of **anonymous** functions (i.e. functions that are not bound to a name)
- While normal functions are defined using the **def** keyword, in Python anonymous functions are defined using the **lambda** keyword. Hence, anonymous functions are also called lambda functions
- Syntax:    <code> lambda arguments: expression</code>
- Lambda functions used with typical functional concepts like <code>map(), filter() and reduce()</code>

## 1. Exercise 1: map lambda function

### 1.1 Scenario: Find the square of each item of a list

#### 1.1.1 Method 1: for loop

In [ ]:
a_list = list(range(2,10,2))

In [ ]:
a_list

[2, 4, 6, 8]

In [ ]:
a_squares = []                        # Empty list
for i in a_list:
    a_squares.append(i ** 2)

In [ ]:
a_squares

[4, 16, 36, 64]

#### 1.1.2 Method 2: using regular functions

In [ ]:
def fun_squares(x):
    return x ** 2

In [ ]:
a_squares1 = []
for i in a_list:
    a_squares1.append(fun_squares(i))

In [ ]:
a_squares1

[4, 16, 36, 64]

#### 1.1.3 Method 3: using lambda function map

In [ ]:
map?

<code>map(func, *iterables) --> map object</code>

In [ ]:
a_list = [10,20]

In [ ]:
a_list_iter = a_list.__iter__() # iter method it supports

In [ ]:
type(a_list_iter)

list_iterator

In [ ]:
a_str = "python"

In [ ]:
a_str_iter = a_str.__iter__()

In [ ]:
type(a_str_iter)

str_iterator

In [ ]:
a_int = 10

In [ ]:
a_int_iter = a_int.__iter__()

AttributeError: 'int' object has no attribute '__iter__'

In [ ]:
a_list = [2,4,6,8]

In [ ]:
a_list

[2, 4, 6, 8]

In [ ]:
a_map = map(lambda x: x** 2,a_list)

In [ ]:
type(a_map)

map

In [ ]:
list(map(lambda x: x** 2,a_list))

[4, 16, 36, 64]

## 2. Exercise 2: filter lambda function

In [ ]:
filter?

<code> filter(function or None, iterable) --> filter object</code>

In [ ]:
a_list

[2, 4, 6, 8]

In [ ]:
# if the value is more than 5

In [ ]:
filter(lambda x : x>5,a_list)

In [ ]:
list(_)

[6, 8]

## 3. Exercise 3: reduce lambda function

In [ ]:
map?

In [ ]:
filter?

In [ ]:
reduce?

Object `reduce` not found.

In [ ]:
a_list

[2, 4, 6, 8]

In [ ]:
reduce?

Object `reduce` not found.

In [ ]:
from functools import reduce

In [ ]:
reduce?

In [ ]:
reduce(lambda x,y : x +y ,a_list)

20

In [ ]:
reduce(lambda x,y : x +y ,["ram"," reddy"," M"])

'ram reddy M'

# home work

- generate first 10 items of 3 multiples (3,6,9....30)
- add number 10 to each item (13,16,19....40)
- one line of code , i want reslt

In [1]:
list(map(lambda i:i+10,range(3,31,3)))

[13, 16, 19, 22, 25, 28, 31, 34, 37, 40]

## example 2:

In [3]:
import os
os.chdir("C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")
import pandas as pd
df =pd.read_csv("tips.CSV")
df.head()

  total_bill   tip     sex smoker  day    time  size
0      16.99  1.01  Female     No  Sun  Dinner     2
1          -     -    Male     No  Sun  Dinner     3
2      21.01   3.5    Male     No  Sun  Dinner     3
3      23.68  3.31    Male     No  Sun  Dinner     2
4      24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
# in above table get top 3 rows who paid more bill?

In [5]:
# from tips.csv replace - to zero